<!DOCTYPE html>
<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">

        <svg  width="10" height="50" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
        stroke-width="5" aria-hidden="true" class="me-10" viewBox="0 0 24 24">
        <path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z">
        </path><circle cx="10" cy="10" r="10"></circle></svg>
<h1>Aftoteh</h1>

      </a>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link "  href="/"><big>Головна</big></a>
        <a class="nav-link" href="/news"><big>Новини</big></a>
        <a class="nav-link" href="/contact"><big>Контакти</big></a>
      </nav>
    </div>
  </div>
  <style>
   p {

    text-indent: 20px; /* Отступ первой строки в пикселах */
   }
  </style>
  <h2 style="font-style:italic" class="vc_custom_heading h-lg"><p>Обслуговуйте автомобілі у кращій майстерні міста</h2>
</header>
<html>
    <head>
        <title>Aftoteh</title>
        <meta charset="utf-8">
         </head>
      <div >

            <img src="https://pc-rk.ru/wp-content/uploads/2017/02/porsche-normal.jpg" class="image-center"
             width="100%"height="500" background-size= "100%" id="image" onclick="changeImage()">
</div>
</html>
<style>
 .column {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 4;
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  -webkit-column-rule: 1px solid #ccc;
  -moz-column-rule: 1px solid #ccc;
  column-rule: 2px solid #ccc;
  margin-left: 50px;
  font-size: 15pt;
 }
</style>
</head>
<body>
  <br><h2 style="text-align: center" class="vc_custom_heading h-lg">З ЯКИМИ АВТОМОБІЛЯМИ МИ ПРАЦЮЄМО:</h2><br>
<div class="column">
  <li>FAW</li> <li>HONDA</li> <li>MAZDA</li><li>OPEL</li><li>SEAT</li><li>TOYOTA</li><li>GAZ</li>  <li>FIAT</li>
  <li>HYNDAI</li>  <li>MG</li>  <li>PEUGEOT</li><li>SKODA</li><li>UAZ</li>  <li>CITROEN</li>  <li>GEELY</li>
  <li>LADA</li><li>NISSAN</li>  <li>RENAULT</li>  <li>SUZUKI</li>  <li>ZAZ</li>  <li>CHEVROLET</li>  <li>FORD</li>
    <li>KIA</li>  <li>MITSIBISHI</li>  <li>RAVON</li>  <li>SSANGYONG</li>  <li>VOLKSWAGEN</li><li>CHERY</li>
  </div>
  </body>




  <div class="about-inner">
  <br><h1 style="text-align: center" class="vc_custom_heading h-lg">Коротко про нас:</h1><br>
  	<div class="row">
  		<div class="col-md-6">
  			<div class="about-img">
  				<img src="http://www.avtocenter-osokorki.com.ua/wp-content/uploads/2017/12/about-img-1.png" alt="">
  			</div>
  		</div>
  		<div class="col-md-6">
  			<div class="about-text">
  				<h4><p>Вам потрібен якісний та надійний автосервіс Тоді припиняйте пошуки бо ви його знайшли.

Aftoteh – це сервіс обслуговування та ремонту автомобілів «повного» циклу. Зверніть увагу на перелік послуг. Як бачите, він доволі великий, а це означає, що ми допоможемо вам вирішити любу проблему пов’язану з вашим автомобілем.

Ми займаємось ремонтом автомобілів з 2002 року. А це більш ніж 15 років успішного функціонування на ринку обслуговування автомобілів та безліч задоволених клієнтів.

За цей час нами накопичений величезний досвід, що дозволяє виконувати навіть найскладніші ремонтні роботи. Тому довіряючи свою машину автосервісу Радан Авто Захід, ви можете бути впевненими, що все буде виконано якісно, швидко та надійно.

Зверніть увагу, що для ремонту автомобілей використовується сучасне обладнання. Що дозволяє діагностувати та ремонтувати навіть найскладніші несправності. А кваліфікація та досвід працівників – це привід для заздрості конкурентів. Адже наші спеціалісти володіють значним досвідом та є справжніми автолюбителями. Саме – це дозволяє нам надавати такі якісні послуги.




</h4>
  				</p>
  			</div>
  		</div>
  	</div>
  </div>






<br>
<br>
<br>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Blog</title>
</head>

<body>
  <div class="container">
    <h1 class="mb-4">Новини</h1>


    <% articles.forEach(article => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= article.title %></h4>
          <div class="card-subtitle text-muted mb-2">
            <%= article.createdAt.toLocaleDateString() %>
          </div>
          <div class="card-text mb-2"><%= article.description %></div>
          <a href="articles/<%= article.slug %>" class="btn btn-primary">Детальніше</a>

          <form action="/articles/<%= article.id %>?_method=DELETE" method="POST" class="d-inline">

          </form>
        </div>
      </div>
    <% }) %>
  </div>
</body>
</html>
